.dr-button-group {
  @include buttonGroupDefault;
  > .dr-button {
    @include buttonGroupZindex;
    &:not(:first-child) {
      margin-left: -1px;
    }
    @include groupRadius;
    &-primary, &-info, &-success, &-warning, &-error {
      &:not(:first-child) {
        margin-left: 0;
      }
      border-right-color: $border-hsla-color;
    }
  }
  &-vertical {
    > .dr-button {
      @include buttonGroupZindex;
      float: none;
      min-width: 32px;
      display: block;
      width: 100%;
      max-width: 100%;
      &:not(:first-child) {
        margin-top: -1px;
      }
      @include groupVertivalRadius;
      &-primary, &-info, &-success, &-warning, &-error {
        &:not(:first-child) {
          margin-top: 0;
        }
        border-bottom-color: $border-hsla-color;
      }
    }
  }
}