@mixin mini-checkbox {
  .dr-checkbox-inner {
    width: $font-size-small;
    height: $font-size-small;
    &::after {
      width: 3px;
      height: 6px;
    }
  }
}

.dr-checkbox {
  &-default {
    display: inline-block;
    font-size: $font-size;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    &:not(.dr-checkbox-disabled) {
      .dr-checkbox-inner {
        &:hover {
          border-color: $theme-color;
        }
      }
    }
  }
  &-edge {
    @include substitute-init;
  }
  &-inner {
    border: 1px solid $border-color;
    display: inline-block;
    border-radius: $checkbox-radius;
    width: 14px;
    height: 14px;
    position: relative;
    &.dr-checkbox-focus {
      border-color: $theme-color;
    }
    &:not(.dr-checkbox-indeterminate) {
      &::after {
        content: '';
        @include absolute-middle;
        transform: translate(-50%, -50%) scale(0) rotate(0);
        display: inline-block;
        border: 1px solid $body-white;
        border-top: none;
        border-left: none;
        width: 3px;
        height: 7px;
        transition: transform $form-transition-time $form-transition-type;
      }
    }
    &.dr-checkbox-indeterminate {
      background-color: $theme-color;
      &::after {
        content: '';
        @include absolute-middle;
        display: inline-block;
        transform: translate(-50%, -50%) scale(1) rotate(0);
        width: 6px;
        height: 1px;
        background-color: $btn-text-color;
        transition: transform 0 $form-transition-type;
      }
    }
  }
  &-input {
    @include input-init;
  }
  &-label {
    padding-left: 10px;
    user-select: none;
  }
  &-checked {
    .dr-checkbox-inner {
      border-color: $theme-color;
      background-color: $theme-color;
      &::after {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
      }
    }
    .dr-checkbox-label {
      color: $theme-color;
    }
  }
  &-disabled {
    cursor: not-allowed;
    .dr-checkbox-inner {
      background-color: $disabled-bg-color;
      &::after {
        background-color: $disabled-bg-color;
      }
    }
    .dr-checkbox-label {
      color: $disabled-color;
    }
    &.dr-checkbox-checked {
      .dr-checkbox-inner {
        border-color: $border-color;
        &::after {
          border-color: $disabled-color;
        }
      }
    }
  }
  &-border {
    border-radius: 4px;
    padding: 12px 16px 9px 10px;
    border: 1px solid $border-color;
    &.dr-checkbox-disabled {
      border: 1px solid $disabled-color;
    }
    &.dr-checkbox-checked {
      &:not(.dr-checkbox-disabled) {
        border: 1px solid $theme-color;
        .dr-checkbox-label {
          color: $theme-color;
        }
      }
    }
    &.dr-checkbox-medium {
      padding: 10px 14px 8px 8px;
    }
    &.dr-checkbox-small {
      padding: 8px 12px 4px 6px;
      font-size: $font-size-small;
      @include mini-checkbox;
    }
    &.dr-checkbox-mini {
      padding: 6px 8px 3px 4px;
      font-size: $font-size-small;
      @include mini-checkbox;
    }
  }
}

// checkbox-group
.dr-checkbox-group {
  &-default {
    @include buttonGroupDefault;
  }
  &-button {
    .dr-checkbox {
      &-default {
        margin-right: 0;
        padding: 12px 20px 10px;
        border: 1px solid $border-color;
        border-radius: $btn-radius-base;
        &:not(.dr-checkbox-checked):hover {
          color: $theme-color;
        }
        &:not(:first-child) {
          margin-left: -1px;
        }
        @include groupRadius;
      }
      &-checked {
        &.dr-checkbox-disabled {
          background-color: $disabled-bg-color;
          border: 1px solid $border-color;
        }
        &:not(.dr-checkbox-disabled) {
          .dr-checkbox-label {
            color: $btn-text-color;
          }
        }
        border: 1px solid $theme-color;
        &:not(:first-child) {
          border-left-color: $border-hsla-color;
        }
        background-color: $theme-color;
        z-index: 2;
      }
      &-edge {
        opacity: 0;
        width: 0;
        height: 0;
      }
      &-label {
        padding-left: 0;
      }
    }
    &.dr-checkbox-group {
      &-medium {
        .dr-checkbox-default {
          padding: 10px 16px 8px;
        }
      }
      &-small {
        .dr-checkbox-default {
          padding: 8px 12px 7px;
          font-size: $font-size-small;
        }
      }
      &-mini {
        .dr-checkbox-default {
          padding: 6px 8px 5px;
          font-size: $font-size-small;
        }
      }
    }
  }
}
