.dr-input {
  &-default {
    display: inline-table;
    width: 100%;
    position: relative;
  }
  &-inner, &-textarea {
    outline: none;
    appearance: none;
    background-color: $body-white;
    background-image: none;
    display: inline-block;
    border: 1px solid $border-color;
    width: 100%;
    border-radius: $btn-radius-base;
    color: $font-color;
    font-size: $font-size;
    &::placeholder {
      color: $input-placeholder-color;
    }
    &:hover {
      border-color: $theme-color;
    }
    &:focus {
      border-color: $theme-color;
    }
  }
  &-inner {
    padding: 0 15px;
    height: $input-height;
    line-height: $input-height;
  }
  &-medium {
    .dr-input-inner {
      height: $input-medium-height;
      line-height: $input-medium-height;
    }
  }
  &-small {
    .dr-input-inner {
      height: $input-small-height;
      line-height: $input-small-height;
      font-size: $font-size-small;
    }
    .dr-icon-default {
      font-size: 13px;
    }
  }
  &-textarea {
    padding: 7px 15px;
    min-height: 30px;
  }
  &--suffix {
    .dr-input-inner {
      padding-right: 30px;
    }
  }
  &--prefix {
    .dr-input-inner {
      padding-left: 30px;
    }
  }
  &-suffix, &-prefix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .dr-icon-default {
      font-size: 14px;
      margin-left: 3px;
      color: $disabled-color;
    }
    .dr-icon-roundclose, .dr-icon-attentionfill, .dr-icon-attention {
      cursor: pointer;
    }
  }
  &-suffix {
    right: 7px;
  }
  &-prefix {
    left: 7px;
  }
  &-disabled {
    .dr-input-inner, .dr-input-textarea {
      cursor: not-allowed !important;
      background-color: $disabled-bg-color;
      color: $disabled-color;
      &:hover {
        border-color: $border-color;
      }
      &:focus {
        border-color: $border-color;
      }
    }
  }
  &-count {
    color: $disabled-color;
  }
  &-limit {
    position: absolute;
    right: 7px;
    bottom: 7px;
    color: $disabled-color;
  }
  &-prepend, &-append {
    background-color: $disabled-bg-color;
    color: $disabled-text-color;
    border-radius: $btn-radius-base;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid $border-color;
    padding: 0 20px;
    white-space: nowrap;
    position: relative;
  }
  &--prepend {
    .dr-input-inner {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  &--append {
    .dr-input-inner {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
  &-prepend {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &-append {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
