.dr-pagination {
  &-default {
    display: inline-block;
    .dr-input-inner {
      width: 100px;
    }
  }
  &-total {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }
  &-pager {
    display: inline-block;
    &-item {
      display: inline-block;
      border: 1px solid $border-color;
      padding: 0 6px;
      min-width: 28px;
      height: 28px;
      line-height: 26px;
      border-radius: $btn-radius-base;
      text-align: center;
      margin: 0 4px;
      vertical-align: middle;
      cursor: pointer;
      color: $font-color;
      transition: all $collapse-transition-time $collapse-transition;
      &:not(.dr-pagination-pager-item-disabled):hover {
        color: $theme-color;
        border-color: $theme-color;
      }
      i {
        &::before {
          float: left;
        }
      }
      &-disabled {
        color: $disabled-text-color;
        background-color: $disabled-bg-color;
        cursor: not-allowed;
      }
    }
    &-active {
      color: $theme-color;
      border-color: $theme-color;
    }
    &-more {
      border: none;
      color: $disabled-text-color;
      .dr-icon-arrows-left, .dr-icon-arrows-right {
        display: none;
      }
      &:hover {
        color: $theme-color;
        .dr-icon-more {
          display: none;
        }
        .dr-icon-arrows-left, .dr-icon-arrows-right {
          display: block;
        }
      }
    }
    &-disabled {
      .dr-pagination-pager-item {
        color: $disabled-text-color;
        background-color: $disabled-bg-color;
        border-color: $border-color;
        cursor: not-allowed;
        &:hover {
          border-color: $border-color;
          color: $disabled-text-color;
        }
      }
    }
    &-simple {
      .dr-pagination-pager-item {
        border: none;
        &-disabled {
          background-color: transparent;
        }
      }
      &.dr-pagination-pager-disabled {
        .dr-pagination-pager-item {
          background-color: transparent;
        }
      }
    }
  }

  &-sizes {
    display: inline-block;
    margin: 0 10px;
  }

  &-jumper {
    display: inline-block;
    &-disabled {
      color: $disabled-text-color;
      .dr-pagination-jumper-num {
        color: $disabled-text-color;
        background-color: $disabled-bg-color;
        border-color: $border-color;
        cursor: not-allowed;
        &:hover {
          border-color: $border-color;
        }
      }
    }
  }
  &-jumper-num {
    width: 40px;
    height: 28px;
    border-radius: $btn-radius-base;
    border: 1px solid $border-color;
    padding: 0 7px;
    margin: 0 7px;
    @include inputStyle;
  }

  &-disabled {
    cursor: not-allowed;
  }
}