@mixin mini-radio {
  .dr-radio-inner {
    width: $font-size-small;
    height: $font-size-small;
    &::after {
      width: 4px;
      height: 4px;
    }
  }
}

.dr-radio {
  &-default {
    display: inline-block;
    font-size: $font-size;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    &:not(.dr-radio-disabled) {
      .dr-radio-inner {
        &:hover {
          border-color: $theme-color;
        }
      }
    }
  }
  &-edge {
    @include substitute-init;
  }
  &-inner {
    border: 1px solid $border-color;
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: relative;
    &::after {
      content: '';
      @include absolute-middle;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      background-color: $body-white;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      transition: transform $form-transition-time $form-transition-type;
    }
  }
  &-input {
    @include input-init
  }
  &-label {
    padding-left: 10px;
    user-select: none;
  }
  &-checked {
    .dr-radio-inner {
      border-color: $theme-color;
      background-color: $theme-color;
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    .dr-radio-label {
      color: $theme-color;
    }
  }
  &-disabled {
    cursor: not-allowed;
    .dr-radio-inner {
      background-color: $disabled-bg-color;
      &::after {
        background-color: $disabled-bg-color;
      }
    }
    .dr-radio-label {
      color: $disabled-color;
    }
    &.dr-radio-checked {
      .dr-radio-inner {
        border-color: $border-color;
        &::after {
          background-color: $disabled-color;
        }
      }
    }
  }
  &-border {
    border-radius: 4px;
    padding: 12px 16px 9px 10px;
    border: 1px solid $border-color;
    &.dr-radio-disabled {
      border: 1px solid $disabled-color;
    }
    &.dr-radio-checked {
      &:not(.dr-radio-disabled) {
        border: 1px solid $theme-color;
        .dr-radio-label {
          color: $theme-color;
        }
      }
    }
    &.dr-radio-medium {
      padding: 10px 14px 8px 8px;
    }
    &.dr-radio-small {
      padding: 8px 12px 4px 6px;
      font-size: $font-size-small;
      @include mini-radio;
    }
    &.dr-radio-mini {
      padding: 6px 8px 3px 4px;
      font-size: $font-size-small;
      @include mini-radio;
    }
  }
}

// radio-group
.dr-radio-group {
  &-default {
    @include buttonGroupDefault;
  }
  &-button {
    .dr-radio {
      &-default {
        margin-right: 0;
        padding: 12px 20px 10px;
        border: 1px solid $border-color;
        border-radius: $btn-radius-base;
        &:not(.dr-radio-checked):hover {
          color: $theme-color;
        }
        &:not(:first-child) {
          margin-left: -1px;
        }
        @include groupRadius;
      }
      &-checked {
        &.dr-radio-disabled {
          background-color: $disabled-bg-color;
          border: 1px solid $border-color;
        }
        &:not(.dr-radio-disabled) {
          .dr-radio-label {
            color: $btn-text-color;
          }
        }
        border: 1px solid $theme-color;
        background-color: $theme-color;
        z-index: 2;
      }
      &-edge {
        opacity: 0;
        width: 0;
        height: 0;
      }
      &-label {
        padding-left: 0;
      }
    }
    &.dr-radio-group {
      &-medium {
        .dr-radio-default {
          padding: 10px 16px 8px;
        }
      }
      &-small {
        .dr-radio-default {
          padding: 8px 12px 7px;
          font-size: $font-size-small;
        }
      }
      &-mini {
        .dr-radio-default {
          padding: 6px 8px 5px;
          font-size: $font-size-small;
        }
      }
    }
  }
}
