.dr-select {
  &-default {
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  &-input {
    .dr-input-inner {
      cursor: pointer;
      height: auto;
      min-height: $input-height;
    }
    .dr-icon-arrow-right {
      font-size: 18px;
      &::before {
        transform: rotate(90deg);
        transition: transform $collapse-transition-time $collapse-transition;
      }
    }
  }
  &-visible {
    .dr-icon-arrow-right {
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
  &-clear {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $body-white;
    font-size: 14px;
    margin-left: 3px;
    color: $disabled-color;
  }
  &-empty {
    @include optionItem;
    text-align: center;
  }
  &-disabled {
    cursor: not-allowed;
  }
}
