@keyframes load-loop {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes progress-active {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
