// badge
.sup-zoom-enter-active, .sup-zoom-leave-active {
  transition: opacity .1s;
}
.sup-zoom-enter, .sup-zoom-leave-to {
  opacity: 0;
}


.tag-fade-enter-active, .tag-fade-leave-active {
  transition: all .3s linear;
}
.tag-fade-enter, .tag-fade-leave-to {
  transform: scaleX(0);
  opacity: 0;
  transform-origin: center center;
}

.select-suggestion-enter-active, .select-suggestion-leave-active {
  transform: scaleY(1);
  opacity: 1;
  transition: $popper-suggest-transition;
}
.select-suggestion-enter, .select-suggestion-leave-to {
  transform: scaleY(0);
  opacity: 0;
}


.notification-enter-active, .notification-leave-active {
  transform: translateX(0);
  transition: all .3s ease-in;
}
.notification-enter, .notification-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
