// badge
.sup-zoom-enter-active, .sup-zoom-leave-active {
  transition: opacity .1s;
}
.sup-zoom-enter, .sup-zoom-leave-to {
  opacity: 0;
}


.tag-fade-enter-active, .tag-fade-leave-active {
  transition: all .3s linear;
}
.tag-fade-enter, .tag-fade-leave-to {
  transform: scaleX(0);
  opacity: 0;
  transform-origin: center center;
}

.select-suggestion-enter-active, .select-suggestion-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $popper-suggest-transition;
}
.select-suggestion-enter, .select-suggestion-leave-to {
  transform: scaleY(0);
  opacity: 0;
}
