@mixin substitute-init {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  line-height: $line-height-base;
  position: relative;
}

@mixin input-init {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
}

@mixin inputStyle {
  outline: none;
  appearance: none;
  background-color: $body-white;
  background-image: none;
  font-size: $font-size;
  color: $font-color;
  transition: all $collapse-transition-time $collapse-transition;
  &::placeholder {
    color: $input-placeholder-color;
  }
  &:hover {
    border-color: $theme-color;
  }
  &:focus {
    border-color: $theme-color;
  }
}
