@mixin substitute-init {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  line-height: $line-height-base;
  position: relative;
}

@mixin input-init {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
}